---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import paddyImage from "../images/paddyohanlon.png";
import CodeIconSvg from "../components/CodeIconSvg.astro";
import { getImageWidths } from "../utils";
---

<Layout
  title="Paddy O'Hanlon — Front-leaning full-stack web developer"
  description="A front-leaning full-stack developer. For over a decade, I've designed and built performant, accessible, beautiful web experiences."
  ;
>
  <main
    id="main"
    class="bg-gradient px-4 md:px-8 xl:px-12 relative icon-perspective"
  >
    <div
      class="flex flex-col justify-between xl:flex-row-reverse gap-8 xl:gap-12 max-w-prose xl:max-w-screen-xl mx-auto min-h-[100vh] pt-8 xl:pt-12"
    >
      <div class="text-white self-center">
        <h1 class="text-3xl pb-1">Hi, I'm Paddy O'Hanlon</h1>
        <p
          class="text-[#959cff] text-sm md:text-base xl:text-xl"
          id="open-to-work"
        >
          And I'm open to new opportunities.
        </p>
        <p
          class="text-[#959cff] text-sm md:text-base xl:text-xl hidden"
          id="company-statement"
        >
          And I'd love to work for <a
            href="https://stripe.com/jobs/listing/frontend-engineer-globalization-platform/6085063"
            class="text-white font-bold">Stripe</a
          >.
        </p>
        <p class="pb-6 pt-5 text-sm md:text-base xl:text-xl">
          I'm a front-leaning full-stack developer. For over a decade, I've
          designed and built performant, accessible, beautiful web experiences.
          I also have a fantastic wife, am a dad of two, and love trail running.
          I opened <a
            class="underline decoration-[#959cff]"
            href="https://colmenacowork.es/en/">La Colmena Coworking</a
          >.
        </p>
        <ul
          class="flex flex-wrap text-xs md:text-md [&>li>a]:decoration-[#959cff] [&>li>a]:decoration-2 [&>li>a]:underline [&>li:not(:first-child)]:before:content-['•'] [&>li:not(:first-child)]:before:text-[#959cff] [&>li:not(:first-child)]:before:pl-2 [&>li:not(:first-child)]:before:pr-1"
        >
          <li>
            <a href="https://github.com/paddyohanlon">GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/paddyohanlon/">LinkedIn</a>
          </li>
          <li>
            <a href="mailto:paddy@paddyohanlon.com">paddy@paddyohanlon.com</a>
          </li>
        </ul>
      </div>
      <div class="max-w-[760px] relative xl:self-end flex-shrink-0">
        <Image
          src={paddyImage}
          alt="Paddy O'Hanlon with an arm out-stretched, palm facing upwards. The Code brackets icon SVG is positioned, floating above the hand"
          widths={getImageWidths(280, 740, paddyImage.width)}
          sizes="(max-width: 687px) calc(100vw - 2rem), (max-width: 1279px) 643px, 740px"
          class="max-h-full object-contain pr-3 pt-3"
          loading="eager"
        />
        <div class="absolute top-0 right-0 w-[25%] icon-perspective">
          <CodeIconSvg className="animation-glow-pulse" />
        </div>
      </div>
    </div>

    <div class="color-overlay" aria-hidden="true"></div>
  </main>
</Layout>

<script>
  const queryParams = new URLSearchParams(window.location.search);

  if (queryParams.has("company") && queryParams.get("company") === "stripe") {
    const companyStatement = document.getElementById("company-statement");
    companyStatement?.classList.remove("hidden");

    const openToWork = document.querySelector("#open-to-work");
    openToWork?.classList.add("hidden");
  }
</script>

<style>
  .bg-gradient {
    --gradient-start-color: #051320;
    --gradient-mid-color: #122e42;
    --gradient-end-color: #041320;
    background: linear-gradient(
      -20deg,
      var(--gradient-start-color) 0%,
      var(--gradient-mid-color) 50%,
      var(--gradient-end-color) 100%
    );
  }

  .icon-perspective {
    perspective: 120px;
  }

  .color-overlay {
    background-color: #0006ff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0.3;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
</style>
