---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import paddyImage from "../images/paddyohanlon.png";
import CodeIconSvg from "../components/CodeIconSvg.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="bg-gradient min-h-[100vh] flex pt-24 pr-12 pl-12 items-end custom-filter relative"
  >
    <div class="flex max-w-[600px] relative">
      <Image
        src={paddyImage}
        alt="A photo of Paddy wearing a blue blazer and nerdy t-shirt holding his hand up as if holding a floating code icon"
        class="max-h-full object-contain pr-3 pt-3"
      />
      <CodeIconSvg
        className="absolute top-0 right-0 w-[25%] animation-glow-pulse"
      />
    </div>
    <div class="color-overlay"></div>
  </main>
</Layout>

<style>
  .bg-gradient {
    --gradient-start-color: #051320;
    --gradient-mid-color: #122e42;
    --gradient-end-color: #041320;
    background: linear-gradient(
      -20deg,
      var(--gradient-start-color) 0%,
      var(--gradient-mid-color) 50%,
      var(--gradient-end-color) 100%
    );
  }

  .custom-filter {
    /* filter: hue-rotate(180deg); */
  }

  .color-overlay {
    background-color: #0006ff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0.3;
    mix-blend-mode: overlay;
    /* animation: 2s ease-in-out infinite alternate brightness-pulse; */
  }

  /* @keyframes brightness-pulse {
    0% {
      filter: brightness(1);
    }

    100% {
      filter: brightness(5);
    }
  } */
</style>
